label {
    font-weight: bold;
    font-size: 1.3em;
    color: white;
}

#game-input {
    margin-bottom: 15px;
    margin-top: 5px;
}

.container {
    background: url("images/space-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 2em;
}

.gifs {
   border: 1px solid limegreen;
   border-radius: 5px;
}

p {
    color: white;
    font-size: 1.25em;
}